@use "../abstract" as var;

html {
	font-size: 62.5%;
}

body {
	padding: 2rem;
	background-color: var.$color-white;
}

::selection {
	background-color: var.$color-blue-4;
	color: var.$color-white;
}
