@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");
// font-family: 'Odibee Sans', cursive;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
// font-family: 'Roboto', sans-serif;

body {
	font-family: "Roboto", sans-serif;
}
