@use "../abstract" as var;

.button {
	&:link,
	&:visited {
		position: relative;
		display: inline-block;
		padding: 1rem 2.5rem;
		font-size: 1.8rem;
		font-weight: 500;
		text-transform: uppercase;
		transition: all 0.2s;
		border: none;
		cursor: pointer;
	}

	&:before,
	&:after {
		content: "";
		position: absolute;
		width: 2.4rem;
		height: 2.4rem;
		transition: all 0.2s;
	}

	&:before {
		top: -0.5rem;
		left: -0.5rem;
	}

	&:after {
		bottom: -0.5rem;
		right: -0.5rem;
	}

	&:hover:before,
	&:hover:after {
		height: 100%;
		width: 100%;
	}

	&-primary {
		color: var.$color-white;
		background-color: var.$color-grey;

		&:before {
			border-top: 3px solid var.$color-grey;
			border-left: 3px solid var.$color-grey;
		}

		&:after {
			border-bottom: 3px solid var.$color-grey;
			border-right: 3px solid var.$color-grey;
		}
	}

	&-secondary {
		color: var.$color-grey;
		background-color: var.$color-white;

		&:before {
			border-top: 2px solid var.$color-white;
			border-left: 2px solid var.$color-white;
		}

		&:after {
			border-bottom: 2px solid var.$color-white;
			border-right: 2px solid var.$color-white;
		}
	}

	&-tertiary {
		color: var.$color-grey;
		background-color: var.$color-white;

		&:before {
			border-top: 2px solid var.$color-white;
			border-left: 2px solid var.$color-white;
		}

		&:after {
			border-bottom: 2px solid var.$color-white;
			border-right: 2px solid var.$color-white;
		}
	}
}
